/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

div {
  display: block;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,ul,p {
  margin: 0;
}

h1,h2,h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.container {
  margin: 0 auto;
  width: 1000px;
  overflow: hidden;
}
  /*========== HEADER ==========*/

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 350px;
    font-family: Montserrat;
    background-color: #202026;
    color: #2d2d2d;
    text-transform: uppercase;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-container {
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    color: #202026;
    text-transform: uppercase;
    background-color: #202026;
  }

  .burger-button {
    display: none;
}

  .profile-photo {
    width: 30%;
    display: flex;
    overflow: hidden
  }
  
  .profile-photo img {
    width: 100%;
  }

  .header-container {
    gap: 3rem;
  }
  
  .header-content {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around 
  }

  .header-menu {
    height: 20%;
    display: flex;
    align-items: center;
    background-color: #fecb00;
    font-size: 18px;
  }

  .header-menu-list {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
  }

  .header-menu-item {
    position: relative;
    margin-right: 20px;
  }

  .header-menu-item::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: 0;
    background-color: #202026;
    transition: .5s width ease-in-out;
  }

  .header-menu-item:hover {
    cursor: pointer;
  }

  .header-menu-item:hover::before {
    width: 100%;
  }

  .header-menu-link {
    color: #202026;
    font-weight: 600
  }
  .name {
    height: 60%;
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #fecb00;
  }

  .name-title {
    font-weight: 600;
    font-size: 46px;
  }

  .name-profession {
    font-size: 22px;
  }

  /*========== CLASS CSS ==========*/

  .section {
    padding: 1.5rem 0;
  }

  .section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
  }